/***************************** TAG SELECTORS**********************/
body {
  background-color: #deb887;

}

hr {

  /*background-color: antiquewhite;*/
  width:100%;
  border-style: dotted none none;
  border-width: 5px;
  border-color: slategrey;
}
h1{
  color: #9387de;
  font-style: normal;
  font-family: "Garamond";

}
h2 {
  color: #d2de87;
  font-weight: bolder;
  font-family: "Garamond";
}

/************************** CLASS SELECTORS*******************/
.myimage{
  display: block;
  width: 180px;
  height: 210px;
  border-radius: 100%;

}

.up{
  /*an image is an inline property so you cant center it with margin,padding etc */
  /* display: flex; */      /*flex, tells the browser that the div is the parent container and the image is a flex item.*/
   /*  justify-content: center; -> to center the div with the image   */
  padding: 10px;

}

.center{
  padding-top: 5px;
}
.bottom{
  padding-top: 12px;
}
/************************** ID SELECTORS*******************/
#heading{
  color: #9387de;
}